- name: Creating VIM configuration directories
  file: 'path={{ directory_item }} mode=0755 state=directory'
  loop:
    - '{{ ansible_facts["user_dir"] }}/.vim/backups'
    - '{{ ansible_facts["user_dir"] }}/.vim/swaps'
    - '{{ ansible_facts["user_dir"] }}/.vim/undo'
  loop_control:
    loop_var: directory_item

- name: Detecting - Vundle is available
  stat:
    path: '{{ ansible_facts["user_dir"] }}/.vim/bundle/Vundle.vim'
  register: vundle

- name: Installing Vundle plugins
  command: vim +PluginInstall +qall
  register: vundle_plugins
  changed_when: vundle_plugins.rc != 0
  when:
    - vundle.stat.exists
