- name: Starship - Creating configuration directory
  file:
    path: '{{ ansible_facts["user_dir"] }}/.config/starship'
    mode: '0755'
    state: directory

- name: Starship - Installing personal settings
  file:
    src: '{{ sphynx_settings_directory }}/common/starship/starship.toml'
    dest: '{{ ansible_facts["user_dir"] }}/.config/starship/starship.toml'
    state: link
    force: yes
