- name: Ghostty - Creating configuration directory
  file:
    path: "{{ ansible_env.HOME }}/Library/Application Support/com.mitchellh.ghostty"
    mode: "0755"
    state: directory

- name: Ghostty - Installing personal settings
  file:
    src: "{{ sphynx_settings_directory }}/macos/ghostty/config"
    dest: "{{ ansible_env.HOME }}/Library/Application Support/com.mitchellh.ghostty/config"
    state: link
    force: yes
