- name: Installing Visual Studio Code
  community.general.homebrew_cask:
    name: visual-studio-code
    state: present

- name: Creating required directories
  file:
    path: '{{ ansible_facts["user_dir"] }}/Library/Application Support/Code/User'
    state: directory

- name: Installing personal settings
  file:
    src: '{{ sphynx_settings_directory }}/macos/vscode/{{ item }}'
    dest: '{{ ansible_facts["user_dir"] }}/Library/Application Support/Code/User/{{ item }}'
    state: link
    force: yes
  loop: '{{ configuration_files }}'
  notify:
    - Restart Visual Studio Code

- name: Loading existing extensions
  command: 'code --list-extensions'
  register: installed_extensions
  changed_when: false

- name: Installing extensions
  command: 'code --install-extension {{ item }}'
  loop: '{{ extensions }}'
  when:
    - item not in installed_extensions.stdout.split('\n')
