- name: Installing Fuzzy Finder formula
  community.general.homebrew:
    name: fzf
    state: present

- name: Checking - Fuzzy Finder installation
  stat:
    path: '{{ ansible_facts["user_dir"] }}/.fzf.zsh'
  register: fzf

- name: Installing Fuzzy Finder completion + key bindings
  shell: '$(brew --prefix)/opt/fzf/install'
  when:
    - not fzf.stat.exists
