#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

source "${SPHYNXC_DIR}/.internal/all.sh"
source "${SPHYNXN_DIR}/shared/shared.sh"
source "${SPHYNXN_DIR}/core/namespace.sh"

##? Change current namespace
##?
##? Usage:
##?     namespace [<query> | --list | --exact <name>]
##?
##? Options:
##?     -l --list  Print all namespaces
##?     -e --exact <name>  Name to be used without checking for it
##?
##? Examples:
##?     namespace
##?     namespace istio
##?     namespace --exact traefik
##?     namespace --list

sx::parse_arguments "${@}"

sx::k8s::namespace "${query:-}" "${exact:-}" "${list:-false}"
