#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

source "${SPHYNX_CLI_DIR}/.internal/all.sh"
source "${SPHYNX_NAMESPACE_DIR}/shared/shared.sh"
source "${SPHYNX_NAMESPACE_DIR}/core/namespace.sh"

##? Manage namespaces
##?
##? Usage:
##?     namespace [<query> | --list | --exact <name> | --current | -]
##?
##? Options:
##?     -l --list  Print all namespaces
##?     -e --exact <name>  Name to be used without checking for it
##?     -c --current  Print current namespace
##?
##? Examples:
##?     namespace
##?     namespace istio
##?     namespace --exact traefik
##?     namespace --list
##?     namespace -
##?     namespace --current

sx::parse_arguments "${@}"

sx::k8s::namespace "${query:-}" "${exact:-}" "${list:-false}" "${current:-false}"
